.footer {
  background-color: #353535;
  .container {
    padding: 6.5rem 1.5rem;
    margin: 0 auto;
    max-width: 124.6rem;
    font-size: 3.2rem;
    color: #eee;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .realizacao {
      .images {
        margin-top: 4rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 43.6rem;
        gap: 2.6rem 4.2rem;
        img {
          max-width: 10.7rem;
          max-height: 10.7rem;
        }
        .logoDin {
          filter: invert(100%);
        }
      }
    }

    .sociais {
      .links {
        font-size: 2rem;
        width: 100%;
        .pet,
        .din,
        .cainfo,
        .caccom,
        .conectadas {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 2rem;
          .insta {
            margin-right: 2rem;
          }
          .insta,
          .face {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #eee;
            text-decoration: none;
            transition: color 0.2s;

            &:hover {
              color: #3ea2ff;
            }
            .icon {
              margin-right: 1rem;
              display: flex;
              .iconFace {
                filter: invert(100%);
              }
              img {
                width: 4rem;
                height: 4rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .footer {
    .container {
      flex-direction: column-reverse;
      align-items: center;
      .sociais {
        margin-bottom: 10rem;
      }
    }
  }
}
